.mainShopPage {
    padding:5px 10px;
    background: rgba(38, 243, 15, 0.32);
}
#root{
    min-height: 100vh;
    background: url("../ImgForPages/backGround.jpg");
    background-size: 100% auto;
}

/*DevicePage*/
.ImgItem{
    border: 4px solid lightgray;
}
.ImgItem:hover{
    box-shadow: 0 0 15px rgba(255, 255, 255, 255);
}

.devicePageContainer{
    background: rgba(38, 243, 15, 0.32);
    min-height: 100vh;
    padding-top: 33px;
}
